
  
.board {
display:flex;

}



  .orange  {
    background: hsla(32, 65%, 42%, 1);
    width: 100px;
    height: 100px;
  }
  
  
  
  .tan {
    background: hsla(32, 54%, 69%, 1);
    width: 100px;
    height: 100px;
  }